@using SchoolWebApp6_24.ViewModels;
@model LoginViewModel
@{
    ViewData["Title"] = "Přihlásit";
}

<h1>Přihlášení</h1>

<form asp-action="Login" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="UserName">Přihlašovací jméno</label>
        <input asp-for="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password">Heslo</label>
        <input asp-for="Password" class="form-control" input type="password"/>       
    </div>
    <div class="form-group">
        <div class="form-check">
            <input asp-for="RememberMe" class="form-check-input" />
            <label asp-for="RememberMe" class="form-check-label">Zapammtovat si mě?</label>
        </div>
    </div>
    <button class="btn btn-primary my-2" type="submit">Přihlásit</button>
</form>