@{
    ViewData["Title"] = "Podmínky použití (Privacy Policy)";
}


<h3>Podmínky použití (Privacy Policy)</h3>
<p>[16.05.2024]</p>
<h5>Úvod</h5>
<p>
    Tato aplikace je určena pro správu studentů, uživatelů, předmětů a známek ve školním prostředí. Použitím této aplikace souhlasíte s níže uvedenými podmínkami použití.
</p>

<h5>Osobní údaje</h5>
<p>
    Jde o experimentální aplikaci, proto je důrazně doporučeno, nevkládat reálné údaje a informace.
</p>

<h5>Uživatelská práva a povinnosti</h5>
<p>
    Přistupovat k aplikaci může kdokoliv, na základě uvedených přístupových údajů, které naleznete v Uživatelském manuálu.
</p>

<h5>Práva a povinnosti poskytovatele</h5>
<p>
    Poskytovatel si vyhrazuje právo provádět změny a aktualizace aplikace bez předchozího upozornění.
</p>

<h5>Omezení odpovědnosti</h5>
<p>
    Poskytovatel nezaručuje nepřetržitou dostupnost aplikace a nenese odpovědnost za případné výpadky nebo technické problémy.
</p>
<p>
    Poskytovatel nenese odpovědnost za případnou ztrátu dat způsobenou neoprávněným přístupem nebo technickými problémy.
</p>

<h5>Závěrečná ustanovení</h5>
<p>
    Tyto podmínky jsou platné od data jejich zveřejnění a mohou být kdykoli aktualizovány.
</p>
<p>
    V případě dotazů nebo problémů se obracejte na administrátora aplikace.
</p>
<p>
    Používáním této aplikace souhlasíte s těmito podmínkami a zavazujete se je dodržovat. Děkujeme za vaši spolupráci.
</p>
